@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

#contactModal {
    input, textarea {
        border: 1px solid #ccc;
    }

    button {
        border-radius: 5px;
        padding: 3px;
        transition-duration: 0.3s;
    }

    button:hover {
        background-color: #f4eaff;
    }
}
